.notlogimage{
    display: none;
}
.plslog{
    font-size: small;
}
.linktologin{
    color: blue;
}
.unauth{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.loginform{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: none;
    
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    
    
}
.logincontent{
    padding: 40px;
    background: white;
    min-width: 250px;
    background: linear-gradient(aqua, 1%, rgb(196, 191, 191));
    
}
.loginform.active{
    
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-in;
    
}