
.plslog{
    font-size: small;
}
.linktologin{
    color: blue;
}
.unauth{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.loginform{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in;
    
}
.logincontent{
    padding: 40px;
    background: white;
    min-width: 250px;
    background: whitesmoke;
    transition: all 0.5s;
    transform: scale(0);
    border-radius: 10%;
    border: 10px solid gray;
}

.logincontent.active{
    
    transform: scale(1);
}
.loginform.active{
    pointer-events: all;

    opacity: 1;
    transition: opacity 0.3s ease-in;
    
}