
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 239, 243) ;
        
}
a.ssilka:active, /* активная/посещенная ссылка */
a.ssilka:hover,  /* при наведении */
a.ssilka {
  text-decoration: none;
  color: #666;
}



  @font-face {
    font-family: Raleway;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;900&display=swap');
    font-weight: 20;
  }
